/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  background-color: white;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vw;
}

nav ul {
  display: flex;
  gap: 2vw;
  align-items: center;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.profile {
  background-color: white;
  color: black;
  padding: 0.35rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 1rem;
}

main {
  background-color: black;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.searchBar div {
  padding: 2vh 6vw 2vh 2vw;
}

.searchButton {
  background-color: rgb(255, 56, 92);
  color: white;
  padding: 0.5vw 1vw !important;
  display: flex;
  align-items: center;
  border-radius: 4rem;
  margin-right: 1vw;
}

h5 {
  font-size: 0.75rem;
  color: black;
}
.searchBar p {
  font-size: 0.875rem;
  margin-top: 0.25rem;
  color: rgb(158, 157, 157);
}

.hero {
  background-color: rgb(255, 56, 92);
  padding: 10% 0;
  margin: 8vh 5vw;
  border-radius: 0.75rem;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: solid 1px white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-top: 1rem;
}

.button2 {
  background-color: white;
  color: purple;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.75rem 1.25rem;
}

.curiosity {
  background-image: url(/heroMobile.jpg);
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
  border-radius: 1rem;
  margin: 0 5vw 3vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 6vh;
}
h2 {
  font-size: 2.375rem;
  text-align: center;
}

h3 {
  font-size: 1.56rem;
}
h4 {
  font-size: 1.43rem;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 5vw;
  padding-top: 45vh;
  margin-top: -35vh;
  z-index: -1;
  background-color: white;
}

section h3 {
  grid-column: 1/-1;
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}

section p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

section > :nth-child(2) {
  border-radius: 1rem;
  background-color: rgb(217, 59, 48);
}
section > :nth-child(3) {
  border-radius: 1rem;
  background-color: rgb(204, 45, 74);
}
section > :nth-child(4) {
  border-radius: 1rem;
  background-color: rgb(188, 26, 110);
}
section > :nth-child(5) {
  border-radius: 1rem;
  background-color: rgb(222, 49, 81);
}

.card-text {
  padding: 1.5rem 0 15vh 1rem;
  height: fit-content;
}
.card-pic {
  min-height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

section > :nth-child(2) .card-pic {
  background-image: url(/copenhagen.webp);
}
section > :nth-child(3) .card-pic {
  background-image: url(/kastrup.webp);
}
section > :nth-child(4) .card-pic {
  background-image: url(/frederiksberg.webp);
}
section > :nth-child(5) .card-pic {
  background-image: url(/aarhus.webp);
}

.experiences {
  background-color: white;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 5vw;
}

.experiences h3 {
  grid-column: 1/-1;
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-things {
  border-radius: 1rem;
  background-position: center;
  min-height: 80vh;
}
.experiences > :nth-child(2) {
  background-image: url(/pexels-paul-ijsendoorn-33041.jpg);
  background-size: cover;
}
.experiences > :nth-child(3) {
  background-image: url(/pexels-mikhail-nilov-9795357.jpg);
}
.experiences p {
  font-size: 2.5rem;
  color: white;
  padding: 5rem 3rem 0 3rem;
}

.button3 {
  background-color: white;
  color: black;
  display: inline;
  margin-left: 3rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.shop {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5vw 0 0 5vw;
}

.shop h2 {
  text-align: left;
  font-weight: 400;
}

.button4 {
  background-color: black;
  color: white;
  display: inline;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.shop img {
  max-width: 70vw;
}

.questions {
  background-image: url(/pexels-andrea-piacquadio-846080.jpg);
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 5vw;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 5vw;
}

.questions h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 45vh;
}

.questions button {
  display: inline;
  margin-left: 0 !important;
}
